/* Header */

/* font answore */

body {
  position: relative;
}

* {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body a {
  color: #fff;
}

a:hover {
  opacity: 0.7;
  transition: 1.5s all;
}

/* Gobal style  subTitle*/

.subTitle-c {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subTitle {
  text-align: center;
  display: inline-block;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
}

.subTitle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%; /* 调整下划线宽度，可以改成 10% 或其他比例 */
  height: 3px; /* 下划线的高度 */
  background-color: #17b6c9; /* 下划线的颜色 */
}

/* header */

.imgDiv {
  width: 15%;
}

.homeLogo {
  padding: 15px;
  border-radius: 85%;
  border: none;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.header,
.header-bar,
.accounts {
  text-align: center;
  display: flex;
  background-color: #000;
}

/* .header:hover {
  transition: 1.2s all;
 
} */

.container {
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100 !important;
  opacity: 0.8;
}

.header-bar {
  align-items: center;
  width: 70%;
}

.header-bar a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.header-bar .headerList {
  display: flex;
}

.headerList li {
  width: 150px;
}

.headerList a:hover {
  border-radius: 15px;
  background-color: #fff;
  color: #000;
}

.accounts {
  margin-left: 20px;
}

.accounts li {
  width: 100px;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.singIn:hover {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.singUp {
  font-size: 8px;
  padding: 10px;
  border-radius: 10px;
  background-color: #17b6c9;
  color: #fff;
}

/* banner */

.banner {
  position: relative;
  letter-spacing: 3px;
  z-index: 1;
  background-image: url("./image/banner.avif");
  opacity: 0.8;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center center;
}

.banner p {
  font-weight: 700;
  color: #fff;
  font-size: 40px;
  letter-spacing: 4.5px;
}

p.normal-color {
  font-size: 20px;
  font-weight: 450;
  position: absolute;
  top: 31%;
  right: 36.5%;
}

.banner-subTitle {
  background-color: #000;
}

.banner-words {
  position: absolute;
  top: 31%;
  right: 15%;
  font-weight: bold;
  font-size: 65px; /* 調整文字大小 */
  background-image: linear-gradient(
    120deg,
    #17b6c9,
    #75f6ff
  ); /* 背景線性漸變 */
  -webkit-background-clip: text; /* 將背景應用到文字 */
  background-clip: text; /* 將背景應用到文字 */
  color: transparent; /* 隱藏文字內容的顏色 */
}

.best-choice {
  position: absolute;
  top: 58%;
  right: 30%;
}

.bannerLogin {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  background-color: #17b6c9;
  color: #fff;
  position: absolute;
  top: 55%;
  right: 35%;
  padding-left: 45px;
  padding-right: 45px;
}

/* OnSales */

.onSales {
  border: 1px solid #fff;
  background-color: #f4f5f6;
}

.onSalesList {
  display: flex;
  justify-content: space-between;
  padding-right: 35px;
}

.onSalesList li {
  padding-left: 50px;
  padding-right: 50px;
}

.onSalesList a {
  color: #17b6c9;
}

.onSalesList li {
  position: relative;
}

a.onSalesList-item {
  letter-spacing: 1.5px;
}

.onSalesList-item {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.onSalesList-item-c {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
.onSalesList-item-c:not(a) {
  font-size: 45px;
}

/* Shop List */

.mg {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.shopList {
  background-color: #f4f5f6;
  /* background-color: #17b6c9; */
}

.shop-List {
  display: flex;
}

.shopItem {
  position: relative;
}

.top {
  background-image: url("./image/shopList/topware.avif");
  width: 20%;
  height: 400px;
  background-size: cover;
  background-position: 80% 90%;
  transition: transform 0.9s ease;
}

.top:hover {
  transform: scale(0.95);
}

.girlsTop {
  background-image: url("./image/shopList/girlstop.avif");
  width: 20%;
  height: 400px;
  background-size: cover;
  background-position: 2% 90%;
  transition: transform 0.9s ease;
}

.girlsTop:hover {
  transform: scale(0.95);
}

.shoes {
  background-image: url("./image/shopList/shoes.jpeg");
  width: 20%;
  height: 400px;
  background-size: cover;
  background-position: 2% 90%;
  transition: transform 0.9s ease;
  /* opacity: 0.7; */
}

.shoes:hover {
  transform: scale(0.95);
}

.tannis {
  background-image: url("./image/shopList/tannis.avif");
  width: 20%;
  height: 400px;
  background-size: cover;
  background-position: 2% 90%;
  transition: transform 0.9s ease;
  /* opacity: 0.7; */
}

.tannis:hover {
  transform: scale(0.95);
}

.buyButton a {
  position: absolute;
  left: 40px;
  bottom: 30px;
  border-radius: 15px;
  color: #17b6c9;
  width: 200px;
  text-align: center;
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 30px;
  opacity: 0.75;
  letter-spacing: 1.8px;
}

.shopInfoPrice {
  text-decoration: line-through;
  font-weight: bold;
  font-size: 25px;
}

.viewAll {
  text-align: center;
}

.viewAll a {
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: 250px;
  background-color: #17b6c9;
  color: #fff;
}

.backHome {
  /* font-size: 20px; */
  z-index: 9999;
  border-radius: 50%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 40px;
  display: inline;
  background-color: #17b6c9;
  color: #000;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

/* Footer */

.pd {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  padding-left: 30px;
  padding-right: 200px;
  letter-spacing: 1.5px;
  color: #17b6c9;
  background-color: #1b2028;
}

.footerBar {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.footer h2 {
  text-align: center;
  font-size: 20px;
}

.font-bold {
  font-weight: bold;
}

.footer-Info {
  display: inline-block;
  background-color: #17b6c9;
  border-radius: 15px;
  color: #000;
  padding: 15px;
}

.sendEmailValue {
  width: 150px;
  padding: 5px;
}

.emailSubmit {
  margin-top: 10px;
  border-radius: 15px;
  background-color: #1b2028;
  color: #17b6c9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
